$accent: #00cccc;
$dark: #0f2336;
$light: #576d81;

%roboto-400 {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
}

%roboto-700 {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
}

%roboto-900 {
  font-family: "Roboto-Black", sans-serif;
  font-weight: 900;
}
